#screen-input {
  width: 97%;
  margin-bottom: 10px;
  background-color: #ccc;
  border-radius: 4px;
  height: 3rem;
  font-size: x-large;
}

.calc-container {
  border: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 20%;
  background-color: #2d2d2d;
  margin: 16px;
}

.button {
  margin: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}

.button:hover {
  background-color: #2d2d2d;
  color: white;
  border: 1px solid whitesmoke;
}

.button:active {
  background-color: red;
}

.row1,
.row2,
.row3,
.row4 {
  display: flex;
  justify-content: space-evenly;
}
